<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>空气质量检测平台</title>

    <script src="../static/assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
    <!-- 引入 echarts.js -->
    <!-- 这里是加载刚下好的echarts.min.js，注意路径 -->
    <script src="../static/assets/js/echarts.min.js" th:src="@{assets/js/echarts.min.js}"></script>
</head>
<body>

    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 1200px; height:600px; position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;"></div >
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 初始化两个数组，盛装从数据库中获取到的数据
        var clientTime = [], airPara = [];
        var option = {
            title: {
                text: 'AQI 监测'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                data: clientTime
            },
            yAxis: {
                splitLine: {
                    show: false
                }
            },
            toolbox: {
                left: 'center',
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                type: 'inside'  //支持鼠标滚动缩放
            }],
            visualMap: {
                top: 5,
                right: -5,
                pieces: [{
                    gt: 0,
                    lte: 50,
                    color: '#096'
                }, {
                    gt: 50,
                    lte: 100,
                    color: '#ffde33'
                }, {
                    gt: 100,
                    lte: 150,
                    color: '#ff9933'
                }, {
                    gt: 150,
                    lte: 200,
                    color: '#cc0033'
                }, {
                    gt: 200,
                    lte: 300,
                    color: '#660099'
                }, {
                    gt: 300,
                    color: '#7e0023'
                }],
                outOfRange: {
                    color: '#999'
                }
            },
            series: {
                name: 'Beijing AQI',
                type: 'line',
                data: airPara,
                markLine: {
                    silent: true,
                    data: [{
                        yAxis: 50
                    }, {
                        yAxis: 100
                    }, {
                        yAxis: 150
                    }, {
                        yAxis: 200
                    }, {
                        yAxis: 300
                    }]
                }
            }
        };

        $.get('/dataInfo/getList', function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    clientTime.push(data[i].clientTime);
                    airPara.push(data[i].airPara);
                }
                myChart.setOption(option);
            }
        });

        var clientWebSocket;
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            console.log("您的浏览器支持WebSocket");
            clientWebSocket = new WebSocket("ws://localhost:8080/websocket");
            //打开事件
            clientWebSocket.onopen = function() {
                console.log("Socket 已打开");
            };
            //获得消息事件
            clientWebSocket.onmessage = function(msg) {
                console.log(msg.data);
                dataUpdate(msg.data);
                //发现消息进入    开始处理前端触发逻辑
            };
            //关闭事件
            clientWebSocket.onclose = function() {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            clientWebSocket.onerror = function() {
                alert("Socket发生了错误");
                //此时可以尝试刷新页面
            }
        };

        function dataUpdate(newData) {
            // clientTime = [];//清空数组，准备存放新值
            // airPara = [];
            var dataArr = newData.split(",");
            console.log(dataArr);
            clientTime.shift();
            airPara.shift();
            clientTime.push(dataArr[0]);
            airPara.push(dataArr[1]);
            myChart.setOption({
                xAxis: {
                    data: clientTime
                },
                series: [{
                    data: airPara
                }]
            });
        }

    </script>
</body>
</html>